/* Comments */

.comments-title,
.comment-list,
#reply-title,
.must-log-in,
#respond #commentform,
#respond iframe {
	display: block;
	margin: 0 auto;
	max-width: 604px;
	width: 100%;
        overflow: hidden;
}

.sidebar .comments-title,
.sidebar .comment-list,
.sidebar .must-log-in,
.sidebar #reply-title,
.sidebar .comment-navigation,
.sidebar #respond #commentform {
	max-width: 1040px;
	padding-left: 60px;
	padding-right: 376px;
}

.comments-title {
	font: 300 italic 28px "Source Sans Pro", Helvetica, sans-serif;
	padding: 30px 0 20px;
}

.comment-list,
.comment-list .children {
	list-style-type: none;
	padding: 0;
}

.comment-list .children {
	margin-left: 20px;
}

.comment-list > li:after,
.comment-list .children > li:before {
	background: url(../img/dotted-line.png) repeat left top;
	background-size: 4px 4px;
	content: "";
	display: block;
	height: 1px;
	width: 100%;
        overflow: hidden;
}

.comment-list > li:last-child:after {
	display: none;
}

.comment-body {
	padding: 24px 0;
	position: relative;
        overflow: hidden;
}

.comment-author {
	max-width: 74px;
	position: absolute;
	left: 0;
}

.comment-author .avatar {
    display: block;
    margin-bottom: 10px;
}

.comment-author .fn,
.comment-author .url,
.comment-reply-link,
.comment-reply-login {
    color: #bc360a;
    font-size: 14px;
    font-style: normal;
}

.says {
    display: none;
}

.no-avatars .comment-author {
    margin: 0 0 5px;
    max-width: 100%;
    position: relative;
}

.no-avatars .comment-meta,
.no-avatars .comment-content,
.no-avatars .reply {
    width: 100%;
    overflow: hidden;
}

/*.bypostauthor .fn:before {
	content: "\f408";
	vertical-align: text-top;
}*/

.comment-list .edit-link {
    margin-left: 20px;
}

.comment-meta,
.comment-content,
.reply {
    float: right;
    width: 79%;
    width: -webkit-calc(100% - 124px);
    width:         calc(100% - 124px);
    overflow: hidden;
    display: block;
}

.comment-meta,
.comment-meta a {
    color: #a2a2a2;
    font-size: 13px;
    margin-bottom: 20px;
}

.comment-meta a:hover {
	color: #ea9629;
}

.comment-meta,
.ping-meta {
    color: #a2a2a2;
    font-size: 13px;
    line-height: 2;
    display: block;
    overflow: hidden;
}

.comment-awaiting-moderation {
	color: #a2a2a2;
	margin: 20px 0 0;
}

/* Comment form */
#respond {
	padding: 30px 0;
}

.comment #respond {
	margin-bottom: 20px;
	padding: 20px;
}

#reply-title {
	font: 300 italic 28px "Source Sans Pro", Helvetica, sans-serif;
	margin-bottom: 20px;
}

#reply-title small a {
	color: #131310;
	display: inline-block;
	float: right;
	height: 16px;
	overflow: hidden;
	width: 16px;
}

#reply-title small a:hover {
	color: #ed331c;
	text-decoration: none;
}

/*#reply-title small a:before {
	content: "\f406";
	vertical-align: top;
}*/

.sidebar .comment-list #reply-title,
.sidebar .comment-list #respond #commentform {
	padding: 0;
}

#commentform .comment-notes {
	margin-bottom: 15px;
}

#commentform .comment-form-author,
#commentform .comment-form-email,
#commentform .comment-form-url {
	margin-bottom: 8px;
}

#commentform [for="author"],
#commentform [for="email"],
#commentform [for="url"],
#commentform [for="comment"] {
	float: left;
	padding: 5px 0;
	width: 120px;
}

#commentform .required {
	color: #ed331c;
}

#commentform input[type="text"],
#commentform input[type="email"],
#commentform input[type="url"] {
	max-width: 270px;
	width: 60%;
}

#commentform textarea {
	width: 100%;
}

.form-allowed-tags,
.form-allowed-tags code {
	color: #686758;
	font-size: 12px;
}

.form-allowed-tags code {
	font-size: 10px;
	margin-left: 3px;
}

.comment-list .pingback,
.comment-list .trackback {
	padding-top: 24px;
}

.comment-navigation {
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	margin: 0 auto;
	max-width: 604px;
	padding: 20px 0 30px;
	width: 100%;
}

.no-comments {
	background-color: #f7f5e7;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	margin: 0;
	padding: 40px 0;
	text-align: center;
}

.sidebar .no-comments {
	padding-left: 60px;
	padding-right: 376px;
}