
/**
 * Genericons, a flexible icon-font.
 * License: GPL version 2 or any later version with font exception (http://www.gnu.org/licenses/gpl-faq.html#FontException)
 * See also LICENSE.txt and COPYING.txt in the ./fonts directory.
 * Thanks to FontSquirrel for web-font conversion!
 * More info: genericons.com
 */
@font-face {
	font-family: Genericons;
	src: url(fonts/genericons-regular-webfont.eot);
	src: url(fonts/genericons-regular-webfont.eot?#iefix) format("embedded-opentype"),
		 url(fonts/genericons-regular-webfont.woff) format("woff"),
		 url(fonts/genericons-regular-webfont.ttf) format("truetype"),
		 url(fonts/genericons-regular-webfont.svg#genericonsregular) format("svg");
	font-weight: normal;
	font-style: normal;
}

.genericon:before,
.menu-toggle:after,
.featured-post:before,
.date a:before,
.entry-meta .author a:before,
.format-audio .entry-media:before,
.comments-link a:before,
.tags-links a:first-child:before,
.categories-links a:first-child:before,
.edit-link a:before,
.attachment .entry-title:before,
.attachment-meta:before,
.attachment-meta a:before,
.comment-awaiting-moderation:before,
.comment-reply-link:before,
.comment-reply-login:before,
#reply-title small a:before,
.bypostauthor .fn:before,
.error404 .page-title:before {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: normal 16px/1 Genericons;
	vertical-align: text-bottom;
}